body {
    font-family: 'Crimson Pro', serif;
    margin: 0;
    padding: 0;
    background-color: #D6DBDF;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    text-align: center;
}


.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}